/* Style du conteneur principal du formulaire */
form {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  background-color: #ffd698; /* Couleur de fond */
}

h2 {
  font-family: Arial, sans-serif;
  color: #af771a;
  text-align: center;
}

/* Style des labels pour un alignement correct */
label {
  display: flex;
  justify-content: space-between; /* Aligne le texte et le champ */
  align-items: center;
  font-weight: bold;
  margin-bottom: 15px;
  color: #af771a;
}

/* Style des champs de saisie */
input[type="text"],
  /*input[type="email"],*/
input[type="password"] {
  width: 100%; /* Réduction pour laisser de l'espace au label */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

/* Style pour le bouton de soumission */
button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #0095ff;
  color: #fff;
  border: none;
  border-radius: 100px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Espacement supplémentaire pour les div contenant les labels et champs */
div[type="text"] {
  margin-bottom: 10px;
}

.loading-message {
  text-align: center;
  color: #af771a;
  font-family: Arial, sans-serif;
}
